.client {
  &-title {
    color: #0d71ba;
    font-family: Bebas Neue;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
  }

  &-subTitle {
    color: #000;
    font-family: Bebas Neue;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
  }
  &-text {
    color: #0D71BA;
    font-family: Bebas Neue;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
  }
}
