.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mobile-menu-icon {
  display: none;
  cursor: pointer;

  .bar {
    transition: 0.4s;
  }

  .open {
    transform: rotate(-45deg);
  }
}

.nav-links {
  list-style: none;
  display: flex;
  text-align: center;

  a {
    font-family: Bebas Neue;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
  }
  a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  a:hover::after {
    // width: 100%;
  }
}

.poster{
  background: url("../../../assets/images/headerBackground.svg") center/cover no-repeat;
  min-height: 160vh;

  &-title{
    color: #FFF;
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; 
    letter-spacing: 4.32px;
  }
}

.navbar.scrolling {
  background-color: rgb(5, 5, 70);
  transition: background-color 0.3s;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .mobile-menu-icon {
    display: flex;
  }

  .poster{
  
      min-height: 40vh;

      &-title{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        letter-spacing: 1.8px;
      }
    }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 62px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
  }
}