.header{
    // min-height: 150vh;
    min-height: 1042px;
    background-image: url("../../../assets/images/test.svg");
    background-position: center;
    background-size: cover;
    // position: relative;
}

